body {
    font-family: 'Roboto', sans-serif;
}

select {
    padding: 5px;
}

.change-btn {
    width: 40px;
    margin-left: 10px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}
