{
    "presets": ["stage-1", "react", "env"],
    "env": {
        "test": {
            "presets": ["stage-1", "react", "env"],
            "plugins": ["transform-class-properties"]
        }
    }
}
